openapi: 3.2.0
info:
  description: 'OpticOdds sports betting data API - Version 3


    **Pagination**: Endpoints returning lists support two modes.'
  title: OpticOdds API v3 Teams API
  contact:
    name: OpticOdds Support
    url: https://opticodds.com/support
  license:
    name: Proprietary
    url: https://opticodds.com/terms
  version: '3.0'
servers:
- url: https://api.opticodds.com/v3
tags:
- name: Teams
paths:
  /teams:
    get:
      security:
      - ApiKeyHeader: []
      - ApiKeyQuery: []
      description: Returns teams filtered by sport, league, or ID
      tags:
      - Teams
      summary: List teams
      parameters:
      - description: Filter by sport IDs
        name: sport
        in: query
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      - description: Filter by league IDs
        name: league
        in: query
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      - description: Filter by team IDs
        name: id
        in: query
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      - description: Filter by numerical IDs
        name: numerical_id
        in: query
        style: form
        explode: false
        schema:
          type: array
          items:
            type: integer
      - description: Filter by base IDs
        name: base_id
        in: query
        style: form
        explode: false
        schema:
          type: array
          items:
            type: integer
      - description: Filter by divisions
        name: division
        in: query
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      - description: Filter by conferences
        name: conference
        in: query
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      - description: Page number
        name: page
        in: query
        schema:
          type: integer
          default: 1
      - description: Include statsperform IDs
        name: include_statsperform_id
        in: query
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_opticodds_api-go_internal_v3_response.TeamsEnvelope'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_opticodds_api-go_internal_v3_response.ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_opticodds_api-go_internal_v3_response.ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_opticodds_api-go_internal_v3_response.ErrorResponse'
      operationId: getTeams
      x-operation-id-source: derived
components:
  schemas:
    github_com_opticodds_api-go_internal_v3_response.BaseSport:
      type: object
      properties:
        id:
          type: string
          example: basketball
        name:
          type: string
          example: Basketball
        numerical_id:
          type: integer
          example: 2
    github_com_opticodds_api-go_internal_v3_response.TeamsEnvelope:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/github_com_opticodds_api-go_internal_v3_response.Team'
    github_com_opticodds_api-go_internal_v3_response.Team:
      type: object
      properties:
        abbreviation:
          type: string
          example: LAL
        base_id:
          type: integer
          example: 100
        city:
          type: string
          example: Los Angeles
        conference:
          type: string
          example: Western
        division:
          type: string
          example: Pacific
        id:
          type: string
          example: lakers
        is_active:
          type: boolean
          example: true
        league:
          $ref: '#/components/schemas/github_com_opticodds_api-go_internal_v3_response.BaseLeague'
        logo:
          type: string
          example: https://cdn.opticodds.com/logos/lakers.png
        mascot:
          type: string
          example: Lakers
        name:
          type: string
          example: Los Angeles Lakers
        nickname:
          type: string
          example: Lakers
        numerical_id:
          type: integer
          example: 1
        source_ids:
          type: object
          additionalProperties:
            type: string
        sport:
          $ref: '#/components/schemas/github_com_opticodds_api-go_internal_v3_response.BaseSport'
    github_com_opticodds_api-go_internal_v3_response.BaseLeague:
      type: object
      properties:
        id:
          type: string
          example: nba
        name:
          type: string
          example: NBA
        numerical_id:
          type: integer
          example: 3
    github_com_opticodds_api-go_internal_v3_response.ErrorResponse:
      type: object
      properties:
        error:
          type: string
          example: Invalid API key
  securitySchemes:
    ApiKeyHeader:
      description: API key passed via X-Api-Key header
      type: apiKey
      name: X-Api-Key
      in: header
    ApiKeyQuery:
      description: API key passed via query parameter
      type: apiKey
      name: key
      in: query
