openapi: 3.2.0
info:
  description: 'OpticOdds sports betting data API - Version 3


    **Pagination**: Endpoints returning lists support two modes.'
  title: OpticOdds API v3 Injuries API
  contact:
    name: OpticOdds Support
    url: https://opticodds.com/support
  license:
    name: Proprietary
    url: https://opticodds.com/terms
  version: '3.0'
servers:
- url: https://api.opticodds.com/v3
tags:
- name: Injuries
paths:
  /injuries:
    get:
      security:
      - ApiKeyHeader: []
      - ApiKeyQuery: []
      description: Returns injuries filtered by sport, league, or team
      tags:
      - Injuries
      summary: List injuries
      parameters:
      - description: 'Sport IDs (use GET /sports for valid values). Example: ''basketball'''
        name: sport
        in: query
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      - description: 'League IDs (use GET /leagues for valid values). Example: ''nba'''
        name: league
        in: query
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      - description: 'Team IDs (use GET /teams for valid values). Example: ''73AEB6743EC2'''
        name: team_id
        in: query
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      - description: Page number
        name: page
        in: query
        schema:
          type: integer
          default: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_opticodds_api-go_internal_v3_response.InjuriesEnvelope'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_opticodds_api-go_internal_v3_response.ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_opticodds_api-go_internal_v3_response.ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_opticodds_api-go_internal_v3_response.ErrorResponse'
      operationId: getInjuries
      x-operation-id-source: derived
  /injuries/predictions:
    get:
      security:
      - ApiKeyHeader: []
      - ApiKeyQuery: []
      description: Returns injury predictions filtered by league or team
      tags:
      - Injuries
      summary: List injury predictions
      parameters:
      - description: 'League ID (use GET /leagues for valid values). Example: ''nba'''
        name: league
        in: query
        schema:
          type: string
      - description: 'Team IDs (use GET /teams for valid values). Example: ''73AEB6743EC2'''
        name: team_id
        in: query
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      - description: Page number
        name: page
        in: query
        schema:
          type: integer
          default: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_opticodds_api-go_internal_v3_response.InjuryPredictionsEnvelope'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_opticodds_api-go_internal_v3_response.ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_opticodds_api-go_internal_v3_response.ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_opticodds_api-go_internal_v3_response.ErrorResponse'
      operationId: getInjuriesPredictions
      x-operation-id-source: derived
components:
  schemas:
    github_com_opticodds_api-go_internal_v3_response.InjuryPredictionsEnvelope:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/github_com_opticodds_api-go_internal_v3_response.InjuryPrediction'
    github_com_opticodds_api-go_internal_v3_response.BaseSport:
      type: object
      properties:
        id:
          type: string
          example: basketball
        name:
          type: string
          example: Basketball
        numerical_id:
          type: integer
          example: 2
    github_com_opticodds_api-go_internal_v3_response.InjuriesEnvelope:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/github_com_opticodds_api-go_internal_v3_response.Injury'
    github_com_opticodds_api-go_internal_v3_response.BaseLeague:
      type: object
      properties:
        id:
          type: string
          example: nba
        name:
          type: string
          example: NBA
        numerical_id:
          type: integer
          example: 3
    github_com_opticodds_api-go_internal_v3_response.InjuryPrediction:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/github_com_opticodds_api-go_internal_v3_response.InjuryPredictionData'
        league:
          $ref: '#/components/schemas/github_com_opticodds_api-go_internal_v3_response.BaseLeague'
        player:
          $ref: '#/components/schemas/github_com_opticodds_api-go_internal_v3_response.BasePlayer'
        sport:
          $ref: '#/components/schemas/github_com_opticodds_api-go_internal_v3_response.BaseSport'
        team:
          $ref: '#/components/schemas/github_com_opticodds_api-go_internal_v3_response.BaseTeam'
    github_com_opticodds_api-go_internal_v3_response.BaseTeam:
      type: object
      properties:
        base_id:
          type: integer
          example: 100
        id:
          type: string
          example: lakers
        name:
          type: string
          example: Los Angeles Lakers
        numerical_id:
          type: integer
          example: 1
    github_com_opticodds_api-go_internal_v3_response.ErrorResponse:
      type: object
      properties:
        error:
          type: string
          example: Invalid API key
    github_com_opticodds_api-go_internal_v3_response.InjuryPredictionData:
      type: object
      properties:
        games_with_player:
          type: integer
        games_without_player:
          type: integer
        player_impact_score:
          type: number
        point_diff_improvement:
          type: number
        point_diff_with_player:
          type: number
        point_diff_with_player_on_losses:
          type: number
        point_diff_with_player_on_wins:
          type: number
        point_diff_without_player:
          type: number
        point_diff_without_player_on_losses:
          type: number
        point_diff_without_player_on_wins:
          type: number
        predicted_status:
          type: string
        total_games:
          type: integer
        win_rate_improvement:
          type: number
        win_rate_with_player:
          type: number
        win_rate_without_player:
          type: number
        wins_with_player:
          type: integer
        wins_without_player:
          type: integer
    github_com_opticodds_api-go_internal_v3_response.BasePlayer:
      type: object
      properties:
        base_id:
          type: integer
          example: 100
        id:
          type: string
          example: lebron-james
        name:
          type: string
          example: LeBron James
        number:
          type: integer
          example: 23
        numerical_id:
          type: integer
          example: 1
        position:
          type: string
          example: SF
    github_com_opticodds_api-go_internal_v3_response.Injury:
      type: object
      properties:
        id:
          type: string
        league:
          $ref: '#/components/schemas/github_com_opticodds_api-go_internal_v3_response.BaseLeague'
        player:
          $ref: '#/components/schemas/github_com_opticodds_api-go_internal_v3_response.BasePlayer'
        sport:
          $ref: '#/components/schemas/github_com_opticodds_api-go_internal_v3_response.BaseSport'
        status:
          type: string
        team:
          $ref: '#/components/schemas/github_com_opticodds_api-go_internal_v3_response.BaseTeam'
        type:
          type: string
  securitySchemes:
    ApiKeyHeader:
      description: API key passed via X-Api-Key header
      type: apiKey
      name: X-Api-Key
      in: header
    ApiKeyQuery:
      description: API key passed via query parameter
      type: apiKey
      name: key
      in: query
