openapi: 3.1.0
info:
  title: OpticOdds Sports Betting Fixtures API
  description: 'OpticOdds offers real-time and historical sports betting data including

    main-line odds, player props, alternate markets, injury data, schedules,

    rankings, and scores. The API is REST-based and authenticated with an

    API key passed either as the `X-Api-Key` header or `key` query

    parameter.

    '
  version: 3.0.0
  contact:
    name: OpticOdds Developer
    url: https://developer.opticodds.com
servers:
- url: https://api.opticodds.com/api/v3
  description: OpticOdds API v3 base
security:
- apiKeyHeader: []
- apiKeyQuery: []
tags:
- name: Fixtures
  description: Fixtures and odds.
paths:
  /fixtures:
    get:
      tags:
      - Fixtures
      summary: List fixtures
      operationId: listFixtures
      parameters:
      - $ref: '#/components/parameters/SportParam'
      - $ref: '#/components/parameters/LeagueParam'
      responses:
        '200':
          description: Fixtures collection.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Collection'
  /fixtures/active:
    get:
      tags:
      - Fixtures
      summary: List active fixtures
      operationId: listActiveFixtures
      responses:
        '200':
          description: Active fixtures collection.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Collection'
  /fixtures/odds:
    get:
      tags:
      - Fixtures
      summary: Get odds for fixtures
      operationId: getFixtureOdds
      parameters:
      - name: fixture_id
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: Odds payload.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Collection'
  /fixtures/odds/historical:
    get:
      tags:
      - Fixtures
      summary: Historical odds for fixtures
      operationId: getHistoricalFixtureOdds
      responses:
        '200':
          description: Historical odds.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Collection'
components:
  parameters:
    SportParam:
      name: sport
      in: query
      required: false
      schema:
        type: string
      description: Sport slug (e.g. `basketball`).
    LeagueParam:
      name: league
      in: query
      required: false
      schema:
        type: string
      description: League slug (e.g. `nba`).
  schemas:
    Collection:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            additionalProperties: true
  securitySchemes:
    apiKeyHeader:
      type: apiKey
      in: header
      name: X-Api-Key
      description: OpticOdds API key supplied in the X-Api-Key header.
    apiKeyQuery:
      type: apiKey
      in: query
      name: key
      description: OpticOdds API key supplied via the `key` query parameter.
externalDocs:
  description: OpticOdds API Reference
  url: https://developer.opticodds.com
