{
    "schemes": [],
    "swagger": "2.0",
    "info": {
        "description": "OpticOdds sports betting data API - Version 3\n\n**Pagination**: Endpoints returning lists support two modes.\n*Offset-based (default)*: Use `page` (1-indexed) and `limit` (max 100, default 100). Response includes `page` and `has_more`.\n*Cursor-based*: Use `cursor` (opaque token from previous response) and `limit`. Response includes `cursor` (null when no more results). When using cursor, `page` and `has_more` are omitted.\nDo not pass both `page` and `cursor`. Cursor-based pagination is recommended for large result sets.",
        "title": "OpticOdds API v3",
        "contact": {
            "name": "OpticOdds Support",
            "url": "https://opticodds.com/support"
        },
        "license": {
            "name": "Proprietary",
            "url": "https://opticodds.com/terms"
        },
        "version": "3.0"
    },
    "host": "api.opticodds.com",
    "basePath": "/v3",
    "paths": {
        "/conferences": {
            "get": {
                "security": [
                    {
                        "ApiKeyHeader": []
                    },
                    {
                        "ApiKeyQuery": []
                    }
                ],
                "description": "Returns conferences with their associated leagues",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "conferences"
                ],
                "summary": "List conferences",
                "parameters": [
                    {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "csv",
                        "description": "Filter by sport IDs",
                        "name": "sport",
                        "in": "query"
                    },
                    {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "csv",
                        "description": "Filter by league IDs",
                        "name": "league",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/github_com_opticodds_api-go_internal_v3_response.ConferencesEnvelope"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/github_com_opticodds_api-go_internal_v3_response.ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/github_com_opticodds_api-go_internal_v3_response.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/github_com_opticodds_api-go_internal_v3_response.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/copilot/fixtures": {
            "get": {
                "security": [
                    {
                        "ApiKeyHeader": []
                    },
                    {
                        "ApiKeyQuery": []
                    }
                ],
                "description": "Returns active fixtures associated with a copilot version",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "copilot"
                ],
                "summary": "List copilot fixtures",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "Copilot version ID",
                        "name": "copilot_version_id",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "csv",
                        "description": "Filter by sport IDs",
                        "name": "sport",
                        "in": "query"
                    },
                    {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "csv",
                        "description": "Filter by league IDs",
                        "name": "league",
                        "in": "query"
                    },
                    {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "csv",
                        "description": "Filter by fixture IDs",
                        "name": "id",
                        "in": "query"
                    },
                    {
                        "type": "array",
                        "items": {
                            "type": "integer"
                        },
                        "collectionFormat": "csv",
                        "description": "Filter by numerical IDs",
                        "name": "numerical_id",
                        "in": "query"
                    },
                    {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "csv",
                        "description": "Filter by team IDs",
                        "name": "team_id",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Filter by tournament ID",
                        "name": "tournament_id",
                        "in": "query"
                    },
                    {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "csv",
                        "description": "Filter by status",
                        "name": "status",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "description": "Filter by live status",
                        "name": "is_live",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Filter by start date",
                        "name": "start_date",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Filter fixtures starting before date",
                        "name": "start_date_before",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Filter fixtures starting after date",
                        "name": "start_date_after",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Filter by season year",
                        "name": "season_year",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Filter by season week",
                        "name": "season_week",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Filter by season type",
                        "name": "season_type",
                        "in": "query"
                    },
                    {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "csv",
                        "description": "Filter by divisions",
                        "name": "division",
                        "in": "query"
                    },
                    {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "csv",
                        "description": "Filter by conferences",
                        "name": "conference",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "default": 1,
                        "description": "Page number",
                        "name": "page",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Cursor for pagination",
                        "name": "cursor",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "description": "Include starting lineups",
                        "name": "include_starting_lineups",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "description": "Include sportradar IDs",
                        "name": "include_sportradar_id",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "description": "Include statsperform IDs",
                        "name": "include_statsperform_id",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "description": "Include betgenius IDs",
                        "name": "include_betgenius_id",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "default": false,
                        "description": "Include latency timings",
                        "name": "include_latencies",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "default": false,
                        "description": "Include rate limit info",
                        "name": "include_rate_limit",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/github_com_opticodds_api-go_internal_v3_response.CopilotFixturesEnvelope"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/github_com_opticodds_api-go_internal_v3_response.ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/github_com_opticodds_api-go_internal_v3_response.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/github_com_opticodds_api-go_internal_v3_response.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/copilot/fixtures/odds": {
            "get": {
                "security": [
                    {
                        "ApiKeyHeader": []
                    },
                    {
                        "ApiKeyQuery": []
                    }
                ],
                "description": "Returns copilot (organization-specific) odds for fixtures. Requires organization-level API key.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "copilot"
                ],
                "summary": "Get copilot odds for fixtures",
                "parameters": [
                    {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "csv",
                        "description": "Fixture IDs (max 5 total across fixture_id/player_id/team_id). Example: '202604020E7921D1'",
                        "name": "fixture_id",
                        "in": "query"
                    },
                    {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "csv",
                        "description": "Player IDs (use GET /players for valid values). Example: '3C093E0F82BD'",
                        "name": "player_id",
                        "in": "query"
                    },
                    {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "csv",
                        "description": "Team IDs (use GET /teams for valid values). Example: '73AEB6743EC2'",
                        "name": "team_id",
                        "in": "query"
                    },
                    {
                        "type": "array",
                        "items": {
                            "type": "integer"
                        },
                        "collectionFormat": "csv",
                        "description": "Copilot version IDs (max 5)",
                        "name": "version_id",
                        "in": "query"
                    },
                    {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "csv",
                        "description": "Market IDs (use GET /markets for valid values). Example: 'moneyline'",
                        "name": "market",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "description": "Filter by main line status",
                        "name": "is_main",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "default": false,
                        "description": "Include settled odds",
                        "name": "settled",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "default": "american",
                        "description": "Odds format. Valid values: american, decimal, probability, malay, hong_kong, indonesian",
                        "name": "odds_format",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/github_com_opticodds_api-go_internal_v3_response.CopilotOddsFixturesEnvelope"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/github_com_opticodds_api-go_internal_v3_response.ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/github_com_opticodds_api-go_internal_v3_response.ErrorResponse"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/github_com_opticodds_api-go_internal_v3_response.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/github_com_opticodds_api-go_internal_v3_response.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/copilot/fixtures/odds/historical": {
            "get": {
                "security": [
                    {
                        "ApiKeyHeader": []
                    },
                    {
                        "ApiKeyQuery": []
                    }
                ],
                "description": "Returns historical price timeseries for copilot odd IDs. IDs must be prefixed with your organization ID.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "copilot"
                ],
                "summary": "Get historical copilot odds",
                "parameters": [
                    {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "csv",
                        "description": "Copilot odd IDs (max 15, format: 'org_id:odd_id')",
                        "name": "id",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "default": "american",
                        "description": "Odds format. Valid values: american, decimal, probability, malay, hong_kong, indonesian",
                        "name": "odds_format",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/github_com_opticodds_api-go_internal_v3_response.CopilotOddsHistoricalEnvelope"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/github_com_opticodds_api-go_internal_v3_response.ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/github_com_opticodds_api-go_internal_v3_response.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/github_com_opticodds_api-go_internal_v3_response.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/copilot/parlay/odds": {
            "get": {
                "security": [
                    {
                        "ApiKeyHeader": []
                    },
                    {
                        "ApiKeyQuery": []
                    }
                ],
                "description": "Calculates a parlay price from copilot odd IDs passed as query parameters",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "copilot"
                ],
                "summary": "Get copilot parlay odds (GET)",
                "parameters": [
                    {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "csv",
                        "description": "Copilot odd IDs for parlay legs",
                        "name": "id",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "default": "american",
                        "description": "Odds format. Valid values: american, decimal, probability, malay, hong_kong, indonesian",
                        "name": "odds_format",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/github_com_opticodds_api-go_internal_v3_response.CopilotParlayOddsEnvelope"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/github_com_opticodds_api-go_internal_v3_response.ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/github_com_opticodds_api-go_internal_v3_response.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/github_com_opticodds_api-go_internal_v3_response.ErrorResponse"
                        }
                    }
                }
            },
            "post": {
                "security": [
                    {
                        "ApiKeyHeader": []
                    },
                    {
                        "ApiKeyQuery": []
                    }
                ],
                "description": "Calculates a parlay price from copilot odd IDs with optional price overrides in the request body",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "copilot"
                ],
                "summary": "Calculate copilot parlay odds (POST)",
                "parameters": [
                    {
                        "type": "string",
                        "default": "american",
                        "description": "Odds format. Valid values: american, decimal, probability, malay, hong_kong, indonesian",
                        "name": "odds_format",
                        "in": "query"
                    },
                    {
                        "description": "Parlay entries with optional price overrides",
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/internal_v3_handlers.copilotParlayRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/github_com_opticodds_api-go_internal_v3_response.CopilotParlayOddsEnvelope"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/github_com_opticodds_api-go_internal_v3_response.ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/github_com_opticodds_api-go_internal_v3_response.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/github_com_opticodds_api-go_internal_v3_response.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/copilot/queue/remove-connections": {
            "get": {
                "security": [
                    {
                        "ApiKeyHeader": []
                    },
                    {
                        "ApiKeyQuery": []
                    }
                ],
                "description": "Forcefully closes all consumer connections on a copilot queue",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "queue"
                ],
                "summary": "Remove copilot queue connections",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "Queue config ID",
                        "name": "id",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/github_com_opticodds_api-go_internal_v3_response.SuccessEnvelope"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/github_com_opticodds_api-go_internal_v3_response.ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/github_com_opticodds_api-go_internal_v3_response.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/github_com_opticodds_api-go_internal_v3_response.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/copilot/queue/start": {
            "post": {
                "security": [
                    {
                        "ApiKeyHeader": []
                    },
                    {
                        "ApiKeyQuery": []
                    }
                ],
                "description": "Creates a new queue or re-enables an existing one by ID",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "queue"
                ],
                "summary": "Start a copilot odds queue",
                "parameters": [
                    {
                        "description": "Queue start request",
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/github_com_opticodds_api-go_internal_v3_query.CopilotQueueStartRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/github_com_opticodds_api-go_internal_v3_response.CopilotQueueStatusEnvelope"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/github_com_opticodds_api-go_internal_v3_response.ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/github_com_opticodds_api-go_internal_v3_response.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/github_com_opticodds_api-go_internal_v3_response.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/copilot/queue/status": {
            "get": {
                "security": [
                    {
                        "ApiKeyHeader": []
                    },
                    {
                        "ApiKeyQuery": []
                    }
                ],
                "description": "Returns status and metrics for all copilot odds queues",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "queue"
                ],
                "summary": "Get copilot odds queue status",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "Filter by queue config ID (repeatable)",
                        "name": "id",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "default": false,
                        "description": "Include latency timings",
                        "name": "include_latencies",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "default": false,
                        "description": "Include rate limit info",
                        "name": "include_rate_limit",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/github_com_opticodds_api-go_internal_v3_response.CopilotQueueStatusEnvelope"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/github_com_opticodds_api-go_internal_v3_response.ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/github_com_opticodds_api-go_internal_v3_response.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/github_com_opticodds_api-go_internal_v3_response.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/copilot/queue/stop": {
            "post": {
                "security": [
                    {
                        "ApiKeyHeader": []
                    },
                    {
                        "ApiKeyQuery": []
                    }
                ],
                "description": "Disables queues by ID list and removes them from RabbitMQ",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "queue"
                ],
                "summary": "Stop copilot odds queues",
                "parameters": [
                    {
                        "description": "Queue stop request",
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/github_com_opticodds_api-go_internal_v3_query.CopilotQueueStopRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/github_com_opticodds_api-go_internal_v3_response.CopilotQueueStatusEnvelope"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/github_com_opticodds_api-go_internal_v3_response.ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/github_com_opticodds_api-go_internal_v3_response.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/github_com_opticodds_api-go_internal_v3_response.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/copilot/results/queue/start": {
            "post": {
                "security": [
                    {
                        "ApiKeyHeader": []
                    },
                    {
                        "ApiKeyQuery": []
                    }
                ],
                "description": "Creates a new queue or re-enables an existing one by ID",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "queue"
                ],
                "summary": "Start a copilot results queue",
                "parameters": [
                    {
                        "description": "Queue start request",
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/github_com_opticodds_api-go_internal_v3_query.CopilotResultsQueueStartRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/github_com_opticodds_api-go_internal_v3_response.CopilotResultsQueueStatusEnvelope"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/github_com_opticodds_api-go_internal_v3_response.ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/github_com_opticodds_api-go_internal_v3_response.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/github_com_opticodds_api-go_internal_v3_response.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/copilot/results/queue/status": {
            "get": {
                "security": [
                    {
                        "ApiKeyHeader": []
                    },
                    {
                        "ApiKeyQuery": []
                    }
                ],
                "description": "Returns status and metrics for all copilot results queues",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "queue"
                ],
                "summary": "Get copilot results queue status",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "Filter by queue config ID (repeatable)",
                        "name": "id",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "default": false,
                        "description": "Include latency timings",
                        "name": "include_latencies",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "default": false,
                        "description": "Include rate limit info",
                        "name": "include_rate_limit",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/github_com_opticodds_api-go_internal_v3_response.CopilotResultsQueueStatusEnvelope"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/github_com_opticodds_api-go_internal_v3_response.ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/github_com_opticodds_api-go_internal_v3_response.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/github_com_opticodds_api-go_internal_v3_response.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/copilot/results/queue/stop": {
            "post": {
                "security": [
                    {
                        "ApiKeyHeader": []
                    },
                    {
                        "ApiKeyQuery": []
                    }
                ],
                "description": "Disables queues by ID list and removes them from RabbitMQ",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "queue"
                ],
                "summary": "Stop copilot results queues",
                "parameters": [
                    {
                        "description": "Queue stop request",
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/github_com_opticodds_api-go_internal_v3_query.CopilotResultsQueueStopRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/github_com_opticodds_api-go_internal_v3_response.CopilotResultsQueueStatusEnvelope"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/github_com_opticodds_api-go_internal_v3_response.ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/github_com_opticodds_api-go_internal_v3_response.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/github_com_opticodds_api-go_internal_v3_response.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/copilot/versions": {
            "get": {
                "security": [
                    {
                        "ApiKeyHeader": []
                    },
                    {
                        "ApiKeyQuery": []
                    }
                ],
                "description": "Returns copilot versions for the authenticated organization",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "copilot"
                ],
                "summary": "List copilot versions",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "Filter by version ID",
                        "name": "id",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "default": false,
                        "description": "Include latency timings",
                        "name": "include_latencies",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "default": false,
                        "description": "Include rate limit info",
                        "name": "include_rate_limit",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/github_com_opticodds_api-go_internal_v3_response.CopilotVersionsEnvelope"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/github_com_opticodds_api-go_internal_v3_response.ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/github_com_opticodds_api-go_internal_v3_response.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/github_com_opticodds_api-go_internal_v3_response.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/divisions": {
            "get": {
                "security": [
                    {
                        "ApiKeyHeader": []
                    },
                    {
                        "ApiKeyQuery": []
                    }
                ],
                "description": "Returns divisions with their associated leagues",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "divisions"
                ],
                "summary": "List divisions",
                "parameters": [
                    {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "csv",
                        "description": "Filter by sport IDs",
                        "name": "sport",
                        "in": "query"
                    },
                    {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "csv",
                        "description": "Filter by league IDs",
                        "name": "league",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/github_com_opticodds_api-go_internal_v3_response.DivisionsEnvelope"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/github_com_opticodds_api-go_internal_v3_response.ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/github_com_opticodds_api-go_internal_v3_response.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/github_com_opticodds_api-go_internal_v3_response.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/fixtures": {
            "get": {
                "security": [
                    {
                        "ApiKeyHeader": []
                    },
                    {
                        "ApiKeyQuery": []
                    }
                ],
                "description": "Returns fixtures filtered by sport, league, team, or ID. Defaults to last 3 days if no date, season, or ID filters are provided. Returns only active fixtures unless filtered by specific IDs.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "fixtures"
                ],
                "summary": "List fixtures",
                "parameters": [
                    {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "csv",
                        "description": "Sport IDs (use GET /sports for valid values). Example: 'basketball'",
                        "name": "sport",
                        "in": "query"
                    },
                    {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "csv",
                        "description": "League IDs (use GET /leagues for valid values). Example: 'nba'",
                        "name": "league",
                        "in": "query"
                    },
                    {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "csv",
                        "description": "Fixture IDs. Example: '202604020E7921D1'",
                        "name": "id",
                        "in": "query"
                    },
                    {
                        "type": "array",
                        "items": {
                            "type": "integer"
                        },
                        "collectionFormat": "csv",
                        "description": "Filter by numerical IDs",
                        "name": "numerical_id",
                        "in": "query"
                    },
                    {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "csv",
                        "description": "Team IDs (use GET /teams for valid values). Example: '73AEB6743EC2'",
                        "name": "team_id",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Tournament ID (use GET /tournaments for valid values). Example: 'pga-masters-2025'",
                        "name": "tournament_id",
                        "in": "query"
                    },
                    {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "csv",
                        "description": "Filter by status. Valid values: unplayed, live, half, completed, cancelled, suspended, delayed, forfeited, invalid",
                        "name": "status",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "description": "Filter by live status",
                        "name": "is_live",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Filter by start date (YYYY-MM-DD or RFC3339)",
                        "name": "start_date",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Filter fixtures starting before date",
                        "name": "start_date_before",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Filter fixtures starting after date",
                        "name": "start_date_after",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Filter by season year",
                        "name": "season_year",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Filter by season week",
                        "name": "season_week",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Filter by season type",
                        "name": "season_type",
                        "in": "query"
                    },
                    {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "csv",
                        "description": "Filter by divisions",
                        "name": "division",
                        "in": "query"
                    },
                    {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "csv",
                        "description": "Filter by conferences",
                        "name": "conference",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "default": 1,
                        "description": "Page number",
                        "name": "page",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "description": "Include statsperform IDs",
                        "name": "include_statsperform_id",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "description": "Include starting lineups",
                        "name": "include_starting_lineups",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Sportsbook ID (use GET /sportsbooks for valid values). Example: 'draftkings'",
                        "name": "sportsbook",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Return only fixtures updated after this timestamp (RFC3339). Skips default 3-day date filter.",
                        "name": "updated_since",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/github_com_opticodds_api-go_internal_v3_response.FixturesEnvelope"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/github_com_opticodds_api-go_internal_v3_response.ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/github_com_opticodds_api-go_internal_v3_response.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/github_com_opticodds_api-go_internal_v3_response.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/fixtures/active": {
            "get": {
                "security": [
                    {
                        "ApiKeyHeader": []
                    },
                    {
                        "ApiKeyQuery": []
                    }
                ],
                "description": "Returns fixtures that currently have odds and are not completed, cancelled, or invalid. Defaults to last 3 days if no date, season, or ID filters are provided.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "fixtures"
                ],
                "summary": "List active fixtures",
                "parameters": [
                    {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "csv",
                        "description": "Sport IDs (use GET /sports for valid values). Example: 'basketball'",
                        "name": "sport",
                        "in": "query"
                    },
                    {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "csv",
                        "description": "League IDs (use GET /leagues for valid values). Example: 'nba'",
                        "name": "league",
                        "in": "query"
                    },
                    {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "csv",
                        "description": "Fixture IDs. Example: '202604020E7921D1'",
                        "name": "id",
                        "in": "query"
                    },
                    {
                        "type": "array",
                        "items": {
                            "type": "integer"
                        },
                        "collectionFormat": "csv",
                        "description": "Filter by numerical IDs",
                        "name": "numerical_id",
                        "in": "query"
                    },
                    {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "csv",
                        "description": "Team IDs (use GET /teams for valid values). Example: '73AEB6743EC2'",
                        "name": "team_id",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Tournament ID (use GET /tournaments for valid values). Example: 'pga-masters-2025'",
                        "name": "tournament_id",
                        "in": "query"
                    },
                    {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "csv",
                        "description": "Filter by status. Valid values: unplayed, live, half, completed, cancelled, suspended, delayed, forfeited, invalid",
                        "name": "status",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "description": "Filter by live status",
                        "name": "is_live",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Filter by start date (YYYY-MM-DD or RFC3339)",
                        "name": "start_date",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Filter fixtures starting before date",
                        "name": "start_date_before",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Filter fixtures starting after date",
                        "name": "start_date_after",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Filter by season year",
                        "name": "season_year",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Filter by season week",
                        "name": "season_week",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Filter by season type",
                        "name": "season_type",
                        "in": "query"
                    },
                    {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "csv",
                        "description": "Filter by divisions",
                        "name": "division",
                        "in": "query"
                    },
                    {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "csv",
                        "description": "Filter by conferences",
                        "name": "conference",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "default": 1,
                        "description": "Page number",
                        "name": "page",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "description": "Include statsperform IDs",
                        "name": "include_statsperform_id",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "description": "Include starting lineups",
                        "name": "include_starting_lineups",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Sportsbook ID (use GET /sportsbooks for valid values). Example: 'draftkings'",
                        "name": "sportsbook",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Return only fixtures updated after this timestamp (RFC3339). Skips default 3-day date filter.",
                        "name": "updated_since",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/github_com_opticodds_api-go_internal_v3_response.FixturesEnvelope"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/github_com_opticodds_api-go_internal_v3_response.ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/github_com_opticodds_api-go_internal_v3_response.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/github_com_opticodds_api-go_internal_v3_response.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/fixtures/odds": {
            "get": {
                "security": [
                    {
                        "ApiKeyHeader": []
                    },
                    {
                        "ApiKeyQuery": []
                    }
                ],
                "description": "Returns current odds for fixtures filtered by fixture ID, player ID, or team ID. Requires at least one sportsbook.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "odds"
                ],
                "summary": "Get live odds for fixtures",
                "parameters": [
                    {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "csv",
                        "description": "Fixture IDs (use GET /fixtures for valid values). Example: '202604020E7921D1'",
                        "name": "fixture_id",
                        "in": "query"
                    },
                    {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "csv",
                        "description": "Sportsbook IDs (use GET /sportsbooks for valid values). Example: 'draftkings'",
                        "name": "sportsbook",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "csv",
                        "description": "Market IDs (use GET /markets for valid values). Example: 'moneyline'",
                        "name": "market",
                        "in": "query"
                    },
                    {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "csv",
                        "description": "Filter by selection name (requires market)",
                        "name": "name",
                        "in": "query"
                    },
                    {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "csv",
                        "description": "Player IDs (use GET /players for valid values). Example: '3C093E0F82BD'",
                        "name": "player_id",
                        "in": "query"
                    },
                    {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "csv",
                        "description": "Team IDs (use GET /teams for valid values). Example: '73AEB6743EC2'",
                        "name": "team_id",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "description": "Filter by main line status",
                        "name": "is_main",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "default": "american",
                        "description": "Odds format. Valid values: american, decimal, probability, malay, hong_kong, indonesian",
                        "name": "odds_format",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/github_com_opticodds_api-go_internal_v3_response.FixtureOddsEnvelope"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/github_com_opticodds_api-go_internal_v3_response.ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/github_com_opticodds_api-go_internal_v3_response.ErrorResponse"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/github_com_opticodds_api-go_internal_v3_response.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/github_com_opticodds_api-go_internal_v3_response.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/fixtures/odds/historical": {
            "get": {
                "security": [
                    {
                        "ApiKeyHeader": []
                    },
                    {
                        "ApiKeyQuery": []
                    }
                ],
                "description": "Returns historical odds with OLV/CLV and optional timeseries for a single fixture",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "odds"
                ],
                "summary": "Get historical odds for a fixture",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Fixture ID (use GET /fixtures for valid values). Example: '202604020E7921D1'",
                        "name": "fixture_id",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "csv",
                        "description": "Sportsbook IDs (1-5 required, use GET /sportsbooks for valid values). Example: 'draftkings'",
                        "name": "sportsbook",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "csv",
                        "description": "Market IDs (use GET /markets for valid values, required if include_timeseries=true). Example: 'moneyline'",
                        "name": "market",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "description": "Filter by main line status",
                        "name": "is_main",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "american",
                            "decimal",
                            "probability",
                            "malay",
                            "hong_kong",
                            "indonesian"
                        ],
                        "type": "string",
                        "default": "american",
                        "description": "Odds format. Valid values: american, decimal, probability, malay, hong_kong, indonesian",
                        "name": "odds_format",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "default": false,
                        "description": "Include timeseries data (requires market)",
                        "name": "include_timeseries",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "default": false,
                        "description": "Include locked entries in timeseries (requires include_timeseries)",
                        "name": "include_locked",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/github_com_opticodds_api-go_internal_v3_response.HistoricalOddsEnvelope"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/github_com_opticodds_api-go_internal_v3_response.ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/github_com_opticodds_api-go_internal_v3_response.ErrorResponse"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/github_com_opticodds_api-go_internal_v3_response.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/github_com_opticodds_api-go_internal_v3_response.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/fixtures/player-results": {
            "get": {
                "security": [
                    {
                        "ApiKeyHeader": []
                    },
                    {
                        "ApiKeyQuery": []
                    }
                ],
                "description": "Returns player-level results (stats, market stats) grouped by fixture. At least one of fixture_id, player_id, or team_id is required.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "results"
                ],
                "summary": "Get player results by fixture",
                "parameters": [
                    {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "csv",
                        "description": "Fixture IDs (max 50). Example: '202604020E7921D1'",
                        "name": "fixture_id",
                        "in": "query"
                    },
                    {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "csv",
                        "description": "Player IDs (max 50, use GET /players for valid values). Example: '3C093E0F82BD'",
                        "name": "player_id",
                        "in": "query"
                    },
                    {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "csv",
                        "description": "Team IDs (max 50, use GET /teams for valid values). Example: '73AEB6743EC2'",
                        "name": "team_id",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Filter by player status",
                        "name": "status",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/github_com_opticodds_api-go_internal_v3_response.FixturePlayerResultsEnvelope"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/github_com_opticodds_api-go_internal_v3_response.ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/github_com_opticodds_api-go_internal_v3_response.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/github_com_opticodds_api-go_internal_v3_response.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/fixtures/player-results/last-x": {
            "get": {
                "security": [
                    {
                        "ApiKeyHeader": []
                    },
                    {
                        "ApiKeyQuery": []
                    }
                ],
                "description": "Returns aggregated player stats across recent fixtures. Provide player_id or team_id.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "results"
                ],
                "summary": "Get aggregated player stats over last N games",
                "parameters": [
                    {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "csv",
                        "description": "Player IDs (max 20, use GET /players for valid values). Example: '3C093E0F82BD'",
                        "name": "player_id",
                        "in": "query"
                    },
                    {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "csv",
                        "description": "Team IDs (max 1, use GET /teams for valid values). Example: '73AEB6743EC2'",
                        "name": "team_id",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Number of recent games (1-30)",
                        "name": "lookback_num",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Filter by season year. Example: '2025-2026'",
                        "name": "season_year",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Earliest date (YYYY-MM-DD or RFC3339)",
                        "name": "earliest_date",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/github_com_opticodds_api-go_internal_v3_response.PlayerResultsLastXEnvelope"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/github_com_opticodds_api-go_internal_v3_response.ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/github_com_opticodds_api-go_internal_v3_response.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/github_com_opticodds_api-go_internal_v3_response.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/fixtures/results": {
            "get": {
                "security": [
                    {
                        "ApiKeyHeader": []
                    },
                    {
                        "ApiKeyQuery": []
                    }
                ],
                "description": "Returns results (scores, stats, events) for completed fixtures. Filter by fixture_id or team_id (not both).",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "results"
                ],
                "summary": "Get fixture results",
                "parameters": [
                    {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "csv",
                        "description": "Fixture IDs (max 50). Example: '202604020E7921D1'",
                        "name": "fixture_id",
                        "in": "query"
                    },
                    {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "csv",
                        "description": "Team IDs (max 50, use GET /teams for valid values). Example: '73AEB6743EC2'",
                        "name": "team_id",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Number of recent results to return (1-25, team_id only)",
                        "name": "lookback_num",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "default": false,
                        "description": "Include cancelled fixtures",
                        "name": "include_cancelled",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/github_com_opticodds_api-go_internal_v3_response.FixtureResultsEnvelope"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/github_com_opticodds_api-go_internal_v3_response.ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/github_com_opticodds_api-go_internal_v3_response.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/github_com_opticodds_api-go_internal_v3_response.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/fixtures/results/head-to-head": {
            "get": {
                "security": [
                    {
                        "ApiKeyHeader": []
                    },
                    {
                        "ApiKeyQuery": []
                    }
                ],
                "description": "Returns past matchup results between two specific teams",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "results"
                ],
                "summary": "Get head-to-head fixture results",
                "parameters": [
                    {
                        "type": "string",
                        "description": "First team ID (use GET /teams for valid values). Example: '73AEB6743EC2'",
                        "name": "team1_id",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Second team ID. Example: '9F1B2C3D4E5F'",
                        "name": "team2_id",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "default": 5,
                        "description": "Number of recent matchups to return (1-25)",
                        "name": "lookback_num",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/github_com_opticodds_api-go_internal_v3_response.FixtureResultsEnvelope"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/github_com_opticodds_api-go_internal_v3_response.ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/github_com_opticodds_api-go_internal_v3_response.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/github_com_opticodds_api-go_internal_v3_response.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/fixtures/results/queue/start": {
            "post": {
                "security": [
                    {
                        "ApiKeyHeader": []
                    },
                    {
                        "ApiKeyQuery": []
                    }
                ],
                "description": "Creates a new queue or re-enables an existing one by ID",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "queue"
                ],
                "summary": "Start a fixture results queue",
                "parameters": [
                    {
                        "description": "Queue start request",
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/github_com_opticodds_api-go_internal_v3_query.FixtureResultsQueueStartRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/github_com_opticodds_api-go_internal_v3_response.FixtureResultsQueueStatusEnvelope"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/github_com_opticodds_api-go_internal_v3_response.ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/github_com_opticodds_api-go_internal_v3_response.ErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/github_com_opticodds_api-go_internal_v3_response.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/github_com_opticodds_api-go_internal_v3_response.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/fixtures/results/queue/status": {
            "get": {
                "security": [
                    {
                        "ApiKeyHeader": []
                    },
                    {
                        "ApiKeyQuery": []
                    }
                ],
                "description": "Returns status and metrics for all fixture results queues",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "queue"
                ],
                "summary": "Get fixture results queue status",
                "parameters": [
                    {
                        "type": "boolean",
                        "default": false,
                        "description": "Include latency timings",
                        "name": "include_latencies",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "default": false,
                        "description": "Include rate limit info",
                        "name": "include_rate_limit",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/github_com_opticodds_api-go_internal_v3_response.FixtureResultsQueueStatusEnvelope"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/github_com_opticodds_api-go_internal_v3_response.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/github_com_opticodds_api-go_internal_v3_response.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/fixtures/results/queue/stop": {
            "post": {
                "security": [
                    {
                        "ApiKeyHeader": []
                    },
                    {
                        "ApiKeyQuery": []
                    }
                ],
                "description": "Disables a queue and removes it from RabbitMQ",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "queue"
                ],
                "summary": "Stop a fixture results queue",
                "parameters": [
                    {
                        "description": "Queue stop request",
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/github_com_opticodds_api-go_internal_v3_query.FixtureResultsQueueStopRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/github_com_opticodds_api-go_internal_v3_response.QueueStopEnvelope"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/github_com_opticodds_api-go_internal_v3_response.ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/github_com_opticodds_api-go_internal_v3_response.ErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/github_com_opticodds_api-go_internal_v3_response.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/github_com_opticodds_api-go_internal_v3_response.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/futures": {
            "get": {
                "security": [
                    {
                        "ApiKeyHeader": []
                    },
                    {
                        "ApiKeyQuery": []
                    }
                ],
                "description": "Returns available future markets filtered by league or tournament",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "futures"
                ],
                "summary": "List future markets",
                "parameters": [
                    {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "csv",
                        "description": "League IDs (use GET /leagues for valid values). Example: 'nba'",
                        "name": "league",
                        "in": "query"
                    },
                    {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "csv",
                        "description": "Tournament IDs (use GET /tournaments for valid values). Example: 'pga-masters-2025'",
                        "name": "tournament_id",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/github_com_opticodds_api-go_internal_v3_response.FuturesEnvelope"
                        }
[...]
